.app {
  margin: 1px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 100%;
  width: 100%; */
}

.logo {
  height: 1.5rem;
  padding: 0;
  will-change: filter;
  padding: 0;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.remote-apps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.stack {
  display: flex;
  align-items: center;
}
